<app-header titulo="Cards"></app-header>

<ion-content>
    <ion-card mode="ios">
        <ion-card-header>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit clean.
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-item color="primary">
            <ion-icon slot="start" name="pin-outline"></ion-icon>
            <ion-label>Awesome Label</ion-label>
        </ion-item>

        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum velit, minima ea quam animi cum dolorem placeat veritatis nulla sint iure accusantium ex sed tempore! Consequatur nobis corporis fugiat velit!
        </ion-card-content>
    </ion-card>

    <ion-card>
        <img src="https://www.latercera.com/resizer/TKyB6xDz8SSQO0QJp6EVxIvSD38=/900x600/filters:focal(290x170:300x160)/cloudfront-us-east-1.images.arcpublishing.com/copesa/FNJE5HNVKBA5LB6VUIUIFU7QRQ.jpg">
        
        <ion-card-content>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum velit, minima ea quam animi cum dolorem placeat veritatis nulla sint iure accusantium ex sed tempore! Consequatur nobis corporis fugiat velit!
        </ion-card-content>
    </ion-card>
</ion-content>
